body{
    font-family: 'Times New Roman', Times, serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.buttons{
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #3498db;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #217dbb;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.5);
}


.modal-content{
    background: #ffffff;
    width: 300px;
    height: 200px;
    margin: 20% auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

.modal-content h3{
    margin: 2em 0 15px 0;
}

.modal-content p{
   margin: 1.4em 0 1.4em 0; 
}
.modal-content input{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}



.modal-button{
    margin: 1.8em;
    
}

.modal-button button{
    padding: 12px 20px;
    margin: 0 15px;
    border: none;
    background: #3498db;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

.modal-buttons button:hover {
 background: #217dbb;
}

.board{
    display: flex;
    justify-content: space-around;
    margin:20px 0 0 0;
}

.column{
    background: #ffffff;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(251, 251, 53, 0.9);
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.2);
}

.column h2{
    margin-top: 0;
}

.task{
    background: #fff7a8;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    font-weight: bold;
}

.task:active{
    cursor: grabbing;
}

.dragging{
    opacity: 0.5;
    transform: scale(1.05);
}

.taskList{
    min-height: 200px;
}


#clearModal .modal-content p {
 margin-top: 10px;
 color: #555;
}

#clearModal .modal-buttons button:first-child {
 background: #e74c3c;
}

#clearModal .modal-buttons button:firstchild:hover {
 background: #c0392b;
}