body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;

}
h1{
    text-align: center;
}
table{
    margin: 0 20px;
}
td{
    border: black double 2px;
    height: 80px;
    text-align: center;
}
p{
    margin: 20px 20px;
}


button{
    background-color: black;
    color: white;
    display: block;
    margin: 0 auto ;
    padding: 10px;
}


