body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: #C0C0C0;
}

h1{
    color: #ffffff;
    background-color: rgb(4, 4, 79);
    margin: 0 0 30px 0;
    text-shadow: 1px 1px 2px rgba(255, 253, 253, 0.3);
    padding-left: 5px;
    width: 100%;

}

.toolbar, .sidebar{
    background: #808080;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;

}

.toolbar{
    box-shadow:4px 4px rgba(0,0,0,1);
    border:3px rgb(255, 255, 255);
    border-style:solid;
    border-bottom: 2px;
    border-right:0px;
    z-index: 1;
    position: relative;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.modal-content{
    background: #808080;
    width: 300px;
    height: 200px;
    margin: 20% auto;
    padding: 20px;
    text-align: center;
    border: solid;
    border-top: #ffffff;
    border-left: #ffffff;
    box-shadow: 4px 4px rgba(0,0,0,1);
}

.modal-content h3{
    margin: 1.5em 0 15px 0;
}

.modal-button{
    margin: 1.8em;
    
}

.modal-button .modalBtn{
    border: solid;
    padding: 12px 20px;
    margin: 0 10px;
    cursor: pointer;
    transform: none;
    border-color: black;
}

.modal-content .textBox{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}


.dropdown{
   position: relative;
   display: inline;
}

.dropdownContent{
    position: absolute;
    display: none;
    width: 150px;
    padding: 10px 0;
    left: 15px;
    z-index: 100;
    background: #808080;
    border: solid;
    border-top: #ffffff;
    border-left: #ffffff;
    box-shadow: 4px 4px rgba(0,0,0,1);
}

.dropdownContent .dropdownContentBtn{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius:0;
    color: black;
    background: none;
    text-align: left;
    padding: 3px 20px;
}

.dropdownContent .dropdownContentBtn:hover {
    background-color: #ddd;
    transform: none;
}

.sidebar{
    box-shadow: 4px 4px rgba(0,0,0,1);
    border-left:solid 3px white;
    z-index: 1;
}
.sidebar:last-child{
    border: none;
}

.toolbar:last-child{
    padding-left: 29px;
    border-top: 2px;
    box-shadow: 4px 4px rgba(0,0,0,1);
    z-index: 2;
    position: relative;
}


.toolbar label{
    margin: 0 5px 0 0;
    padding-top: 2.5px;
}


.sidebar-board{
    display: flex;
    flex-direction: row;
    z-index: 1;
}


button{
    background: #808080;
    border: 0px;
    padding: 0px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    color: #646464;
    transform: scale(1.07); 
}

canvas{
    background: url("/Projekat_1/studentGames/interactiveWhiteboard/picture/checkerboard.jpg");
    cursor: url("/Projekat_1/studentGames/interactiveWhiteboard/picture/marker.png")
            0 20, auto;
    width: 900px;
    height: 500px;
    min-width: 550px;
    min-height: 200px;
    touch-action: none;
    z-index: 10;
    border: 4px inset black;
}

footer{
    margin: 20px 0 0 0;
    font-size: 12px;
}

