html
{
    
    background: #7b7775;
}

body
{
    font-size:12px;
    font-family: Verdana, Arial, sans-serif;
    color:#484645;
    margin:0;
    line-height:1.6;
}

header img
{
    margin: 10px 0 10px 25px;
}

header, article
{
    width:80%;
    margin: 0px auto;
    background-color: white;
}

nav
{
    background-color: #c30f10;
    padding:20px;
   
}

nav a, nav a:hover
{
    color:white;
    padding:10px 20px;
    display:inline-block;
    text-transform:uppercase;
    text-decoration: none;
}

nav ul
{
    list-style: none;
    margin:0;
}

nav ul li
{
    display:inline-block;
}

article
{
    padding :20px 40px;
    box-sizing: border-box;
    border-bottom: 2px solid #c00000;
    min-height:600px;
}

article img
{
    float:right;
    margin-right: 20px;
}

a, a:hover, a:active
{
    color: #c30f10;
    font-weight:bold;
}

h2
{
    color: #c30f10;
}

footer
{
    padding-top: 20px;
    min-height: 30px;
    background: #7b7775;
    color:white;
    text-align:center;
}
